*,
*:before,
*:after { box-sizing: border-box; }

/* On Small Screen */
html { font-size: 120%; }
@media (min-width: 480px) {
	/* On Large Screen */
	html { font-size: 100%; }
}

body {
	/* Reset */
	margin: 0;
	padding: 0;
	/* */

	font-family: "Segoe UI", sans-serif;
	font-size: 16px;
	background-color: white;
}

img { max-width: 100%; }

ul {
	/* Reset */
	margin-block-start: 0;
	margin-block-end: 0;
	padding-inline-start: 0;	
	list-style: none;
	/* */
}

ul li {
	display: inline-block;
	margin: 0 0 .5rem;
}

/* Vertical Rhythym */
img,
ul {
	margin: 0 0 1rem 0;
}

/* Layout */
.section-1 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.section-1__sub-1 {
	grid-column: span 1;
	justify-self: start;

	padding: .5rem;
}
@media (min-width: 720px) {
	.section-1__sub-1 {
		grid-column: span 3;
		justify-self: center;

		padding: 1rem;
	}
}

.section-1__sub-2 {
	display: none;
	grid-column: span 1;
	justify-self: center;
}
@media (min-width: 720px) {
	.section-1__sub-2 {
		display: block;
		grid-column: span 3;
	}
}

.section-1__sub-3 {
	display: block;
	grid-column: span 1;
	justify-self: end;

	padding: .5rem;
}
@media (min-width: 720px) {
	.section-1__sub-3 {
		display: none;
		grid-column: span 3;
		justify-self: center;

		padding: 1rem;
	}
}

.section-2 {
	margin: 0 auto;
	padding: 2rem;
	width: 100%;
	max-width: 480px;
	background-color: whitesmoke;
	border-radius: 4px;
}

/* Components */
.brand {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-items: start;
}
@media (min-width: 720px) {
	.brand {
		justify-items: center;
	}
}

.brand__logo {
	grid-column: span 1;

	width: 36px;
	height: 36px;
	background-color: lightblue;
	border-radius: 50%;
}
@media (min-width: 720px) {
	.brand__logo {
		grid-column: span 2;

		width: 72px;
		height: 72px;
	}
}

.brand__name {
	grid-column: span 1;
	font-size: 1.250rem;
	visibility: hidden;
}
@media (min-width: 720px) {
	.brand__name {
		grid-column: span 2;
		visibility: visible;
	}
}

.nav {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 1rem;

	width: 480px;
}
.nav__item .button {
	width: 100%;
}

.trigger {
	width: 36px;
	height: 36px;
	background-color: lightblue;
}

.button {
	/* Reset */
	border: none;
	background-color: transparent;
	/* */

	padding: 8px 16px;
	font-size: inherit;
	color: white;
	background-color: lightblue; 
	border-radius: 4px;
}

.button:hover {
	background-color: cornflowerblue;
	cursor: pointer;
}